
#czechButton {
  float: right;
  margin-right: 30px;
  background: none;
  border-radius: 16px;
  color: black;
  cursor: pointer;

  /*background: rgba( 255, 255, 255, 0.1 );*/
  /*box-shadow: 0 2px 8px 0 rgba(170, 170, 170, 0.3);*/
  /*backdrop-filter: blur( 1px );*/
  /*-webkit-backdrop-filter: blur( 1px );*/
  /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/

  transition: .5s;
}
#lanInput {
  border-radius: 8px;
  background: inherit;
  border: none;
  cursor: pointer;
  width: 5ch;
}
#czechButton:hover {
}
body {
  line-height: 1.6em;
}

.landingElem {
  padding: 6px;
  border-radius: 16px;
  margin: 18px 6px 6px;
  max-width: 300px;
  line-height: 1.2em;

  width: 90%;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 18px 0 rgba(170, 170, 170, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  transition: .5s;
}

.landingScreen {
  animation: .3s ease-out 0s 1 opacityTransition;
}

.landingElem:hover {
  box-shadow: 0 8px 36px 0 rgba(102, 102, 102, 0.37);
  border: 1px solid rgba(219, 219, 219, 0.18);
}

.landingElements {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  /*width: 90%;*/
  /*grid-template-rows: auto;*/
}

.landingImages {
  width: 100%;
  max-width: 300px;
  border-radius: 12px;
}

.landingText {
  padding: 0 12px 12px;
}

.landingScreenText {
  /*padding-left: 12px;*/
  /*padding-right: 12px;*/
}

#landingInfo {
  grid-column: 2 / 5;
  /*width: 200px;*/
}

@media only screen and (max-width: 600px) {
  .landingElements {
    grid-template-columns: auto;
    /*width: 400px;*/
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;

  }
  .landingElem {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  .landingImages {
    max-width: initial;
  }
  .landingScreenText {
    max-width: initial !important
  }
  root {
    max-width: 100%;
  }
}

body {
  overflow-x: hidden;
  margin-bottom: 200px;
}





.NavBar {
  background: rgba(241, 241, 241, 0.7);
  box-shadow: 0 8px 8px 0 rgba(186, 186, 186, 0.37);
  backdrop-filter: blur( 6px );
  -webkit-backdrop-filter: blur( 6px );
  /*border-radius: 10px;*/
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 0 !important;

  overflow-x: auto;
  width: 100%;
  z-index: 100;
  position: fixed;
  padding: 16px;
}

.navbarLink {
  margin-right: 16px;
  text-decoration: none;
  color: #2d2d2d;
}

.landingScreen {
  padding-top: 70px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.navbarLinks {
  margin-left: auto;
  margin-right: auto;
  max-width: 990px;
  /*padding-left: 20px;*/
}






.philosophyCard {
  display: grid;
  grid-template-columns: 300px auto;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 16px;
  line-height: 1.2em;

  background: rgba( 255, 255, 255, 0.75 );
  box-shadow: 0 8px 18px 0 rgba(170, 170, 170, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  overflow: auto;

  transition: .5s;
  margin-top: 40px;
  /*animation: .1s ease-out 0s 1 slideInFromLeft;*/

  animation: .2s ease-out 0s 1 opacityTransition;
}

@keyframes opacityTransition2 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*.philosophyCard2 {*/
/*  max-height: 600px;*/
/*  margin-top: 0;*/
/*  width: 900px;*/
/*  overflow-y: auto !important;*/
/*}*/
.philosophyCardText2 {
  height: 100% !important;
  overflow-y: scroll !important;
  padding-bottom: 0;
  padding-top: 0 !important;
  /*margin-bottom: 100px;*/
}

@keyframes slideInFromLeft {
  0% {
    margin-top: 50px;
  }
  100% {
    margin-top: 40px;
  }
}

.philosophyCard:hover {
  box-shadow: 0 8px 36px 0 rgba(102, 102, 102, 0.37);
  border: 1px solid rgba(219, 219, 219, 0.18);
}

.philosophyImg {
  border-radius: 12px !important;
  margin: 20px;
  width: 100%;
}

.philosophyCardText {
  /*height: 100%;*/
  /*height: auto;*/
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  line-height: 1.6em;
  /*margin: 30px;*/
  overflow-y: hidden;
  max-height: content-box;
}

.philosophyCardText p {
  /*cursor: pointer;*/
}

.PhilosophyText {
  flex-grow : 1;
  /*max-width: 990px;*/
  /*width: 100vw;*/
  margin: 0;
  padding-top: 80px;
}

.btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: green;
  background: 0;
  padding: 10px 13px 10px 13px;
  border: solid green 1px;
  text-decoration: none;
  margin-left: 6px;
  transition: .25s;
  margin-bottom: 6px;

  font-size: 16px;
  cursor: pointer;
}

.btnUp {
  color: green;
  border: solid green 1px;
}
.btnDown {
  color: #ff0000;
  border: solid #ff0000 1px;
}

.btnUp:hover {
  background: green;
  text-decoration: none;
  color: white
}

.btnDown:hover {
  background: #ff0000;
  text-decoration: none;
  color: white
}

.seeMoreButton {
  border-radius: 28px;
  color: #ffffff;
  background: #2495e0;
  padding: 10px 20px 10px 20px;
  transition: .25s;
}

.seeMoreButton:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.philosophyCardName {
  /*text-decoration: underline;*/
  cursor: pointer;
}

.faExternalLinkAlt {
  float: right;
  float: top;
  padding: 6px;
  color: cornflowerblue;
  cursor: pointer;
}

.faExternalLinkAlt2 {
  float: right;
  color: cornflowerblue;
  cursor: pointer;
}

@media only screen and (max-width: 1500px) {
  .philosophyCard {
    /*grid-template-columns: auto;*/
    width: calc(100vw - 16px);
    overflow: hidden;
  }
}

@media only screen and (max-width: 1000px) {
  .philosophyCard {
    /*grid-template-columns: auto;*/
    width: calc(100vw - 16px);
    /*width: 90% !important;*/
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .philosophyCard {
    grid-template-columns: auto;
    width: calc(100vw - 16px) !important;
    /*height: calc(100vh - 36px) !important;*/
    /*max-height: 90em;*/
    overflow: hidden;
  }
  .philosophyCardText {
    height: 240px !important;
  }
  .philosophyCardSingleDiv .philosophyCardText {
    height: auto !important;
  }
  .philosophyImg {
    margin: 16px auto auto;
    width: 90%;
  }
}





.menu {
  /*width: 120px;*/
  /*height: 100px;*/
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  z-index: 120;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}




.loading {
  /*position: ;*/
  text-align: center;

  width: 200px;
  opacity: 1;

  margin: 30px auto;

  border-radius: 16px;
  line-height: 1.2em;

  background: rgba( 255, 255, 255, 0.75 );
  box-shadow: 0 8px 18px 0 rgba(170, 170, 170, 0.37);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border: 1px solid rgba( 255, 255, 255, 0.18 );

  animation: .4s ease-out 0s 1 opacityTransitionLoading;
}

@keyframes opacityTransitionLoading {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityTransition {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}





#historyTabMargin {
  padding-top: 80px;
}
.HistoryTabBody h1, p, h2, h3 {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.historyTabLandingText {
  margin-bottom: 50px;
  /*margin-bottom: 100px;*/
}

.historyDiv {
  transition: .5s !important;
  animation: .2s ease-out 0s 1 opacityTransition !important;
}



:root {
  --scroll: .1;
  --historyLandingImg: .1;
  --firstSetOfParagraphs: 0;
  --firstSetOfParagraphs2: 0;
  --firstVideo: 0;

  --peloponnesianWarH1: 0;
  --peloponnesianWarP1: 0;
  --peloponnesianWarP2: 0;
  --peloponnesianWarP3: 0;
  --peloponnesianWarImg: 0;

  --historyH1: 0;
  --historyH21: 0;
  --historyP1: 0;
  --historyH22: 0;
  --historyP2: 0;
  --historyH23: 0;
  --historyP3: 0;
  --historyH34: 0;
  --historyP4: 0;

  --slaveryH1: 0;
  --slaveryP1: 0;
  --slaveryP2: 0;

  --end: 0;
}


/* copy paste example */
#elemId {
  animation: opacityTransition4 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes elemTransition {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .4;
  }
}

.historyLandingImg {
  width: 100vw !important;
  margin-bottom: 12vh;
}
#historyLandingImg {
  transform: translateZ(0);

  animation: opacityTransition4 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--historyLandingImg) * -1s);

  /*animation-iteration-count: 1;*/
  /*animation-fill-mode: both;*/
}
@keyframes opacityTransition4 {
  0% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


#firstSetOfParagraphs {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--firstSetOfParagraphs) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#firstSetOfParagraphs2 {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--firstSetOfParagraphs2) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes firstSetOfParagraphs {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px)
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px)
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px)
  }
  65% {
    opacity: 1;
  }
  85% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px)
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(32px);
    transform: translateY(32px)
  }
}




.firstVideoDiv {
  transform: translateZ(0);
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#firstVideo {
  transform: translateZ(0);
  padding-top: 15rem;
  margin-left: auto;
  margin-right: auto;
}
#firstVideo {
  transform: translateZ(0);
  opacity: 0;
  max-width: 100vw;
  padding-bottom: 35rem;
  /*max-width: 100vw;*/

  animation: firstVideo 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--firstVideo) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes firstVideo {
  0% {
  }
 30% {
   opacity: 0;
 }
  45% {
    /*padding-top: 12rem;*/
    transform: translateY(12vh);
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  75% {
    /*padding-top: 60rem;*/
    transform: translateY(60vh);

    opacity: 0;
  }
  100% {
  }
}


/*.firstVideoSpace {*/
/*  padding-bottom: 1080px;*/
/*}*/
/*#firstVideo {*/
/*  position: absolute;*/
/*  opacity: 0;*/
/*  padding-top: 20vh;*/
/*  left: 50%;*/
/*  transform: translateY(-50%);*/
/*  max-width: 100vw;*/
/*  !*max-width: 100vw;*!*/

/*  animation: firstVideo 1s linear infinite;*/
/*  animation-play-state: paused;*/
/*  animation-delay: calc(var(--firstVideo) * -1s);*/

/*  animation-iteration-count: 1;*/
/*  animation-fill-mode: both;*/
/*}*/
/*@keyframes firstVideo {*/
/*  20% {*/
/*    opacity: 0.4;*/
/*    padding-top: 20vh;*/
/*  }*/
/*  30% {*/
/*    opacity: 1;*/
/*    padding-top: calc(20vh - 180px);*/
/*  }*/
/*  50% {*/
/*    padding-top: calc(30vh - 180px);*/
/*  }*/
/*  70% {*/
/*    padding-top: calc(45vh - 180px);*/
/*  }*/
/*  80% {*/
/*    opacity: 1;*/
/*  }*/
/*  90% {*/
/*    opacity: 0.4;*/
/*    padding-top: calc(55vh - 180px);*/
/*  }*/
/*}*/



#PeloponnesianWarDiv {
  margin-top: 22rem;
  display: grid;
  grid-template-columns: auto auto;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 850px) {
  #PeloponnesianWarDiv {
    grid-template-columns: auto;
  }
  .peloponnesianWarImg {
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
    width: 100vw;
  }
}

#PeloponnesianWarDiv p {
  /*margin: 16px;*/
}



#peloponnesianWarH1 {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--peloponnesianWarH1) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#peloponnesianWarP1 {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--peloponnesianWarP1) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#peloponnesianWarP2 {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--peloponnesianWarP2) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#peloponnesianWarP3 {
  padding: 16px;
  transform: translateZ(0);
  animation: firstSetOfParagraphs 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--peloponnesianWarP3) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#peloponnesianWarImg {
  transform: translateZ(0);
  opacity: 0;
  animation: peloponnesianWarImg 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--peloponnesianWarImg) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
.peloponnesianWarImg {
  transform: translateZ(0);
  width: available;
}

@keyframes peloponnesianWarImg {
  20% {
    opacity: 0;
    -webkit-transform: translateY(2rem);
    transform: translateY(2rem)
  }
  40% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(15rem);
    transform: translateY(15rem)

  }
}




.historyDiv {
  margin-top: 30vh;
}


#historyH1, #historyH21, #historyP1, #historyH22, #historyP2, #historyH23, #historyP3, #historyH34, #historyP4 {
  /*animation: firstSetOfParagraphs 1s linear infinite;*/
  padding: 16px;
  transform: translateY(30px);

  animation-play-state: paused !important;
  /*animation-delay: calc(var(--historyH1) * -1s);*/

  animation-iteration-count: 1;
  animation-fill-mode: both;
}

#historyH1 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyH1) * -1s);
}
#historyH21 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyH21) * -1s);

}
#historyP1 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyP1) * -1s);

}
#historyH22 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyH22) * -1s);

}
#historyP2 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyP2) * -1s);

}
#historyH23 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyH23) * -1s);

}
#historyP3 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyP3) * -1s);

}
#historyH34 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyH34) * -1s);

}
#historyP4 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--historyP4) * -1s);

}


@keyframes HistoryAnim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px)
  }
  10% {
    opacity: 1;
  }
  35% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
  }
}




#slaveryH1, #slaveryP1, #slaveryP2 {
  /*animation: firstSetOfParagraphs 1s linear infinite;*/
  padding: 16px;
  transform: translateY(30px);
  animation-play-state: paused !important;
  /*animation-delay: calc(var(--historyH1) * -1s);*/

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
#slaveryH1 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--slaveryH1) * -1s);
}
#slaveryP1 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--slaveryP1) * -1s);
}
#slaveryP2 {
  transform: translateZ(0);
  animation: HistoryAnim 1s ease infinite;
  animation-delay: calc(var(--slaveryP2) * -1s);
}
.slavery {
  transform: translateZ(0);
  margin-top: 20vh;
  margin-bottom: 45vh;
}


#end {
  text-align: center;
  margin-bottom: 45vh;

  animation: endAnim 1s ease infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--end) * -1s);

  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes endAnim {
  0% {
    opacity: 0;
  }
  35% {
    opacity: .3;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


